<h1>Sonatype License Report</h1>
{{.MatchSummary.TotalComponentCount}} components found, {{.MatchSummary.KnownComponentCount}} recognised
<br /><a href="{{.ReportLink}}">Report link</a>
Stage: {{.Stage}}
<h2>License threats</h2>
<table class="relative-table wrapped" style="width: 100.0%;">
  <colgroup>
    <col style="width: 25%;"/>
    <col style="width: 25%;"/>
    <col style="width: 25%;"/>
    <col style="width: 25%;"/>
  </colgroup>
  <tbody>
    <tr>
        <td>
            <p>Component</p>
        </td>
        <td>
            <p>Declared Licenses</p>
        </td>
        <td>
            <p>Observed Licences</p>
        </td>
    </tr>
    {{range $comp := .Components}}
    <tr>
        <td>
            <p>
            ArtifactID {{$comp.ComponentIdentifier.Coordinates.ArtifactID}}, GroupID {{$comp.ComponentIdentifier.Coordinates.GroupID}}, Version {{$comp.ComponentIdentifier.Coordinates.Version}}
            </p>
        </td>
        <td>
            <p>
            {{range $comp.LicenseData.DeclaredLicenses}}
                {{.LicenseName}}
            {{end}}
            </p>
        </td>
        <td>
            <p>
            {{range $comp.LicenseData.ObservedLicenses}}
                {{.LicenseName}}
            {{end}}
            </p>
        </td>
    </tr>
    {{end}}
    </tbody>
</table>
